{% extends 'base.html' %}

{% block title %}Secure Data Transfer{% endblock %}

{% block content %}
{{ storage_locations|json_script:"storage-locations-data" }}
<script>
    const storageLocations = JSON.parse(document.getElementById('storage-locations-data').textContent);
</script>

<div class="px-4">
    <h1 class="text-xl flex-1">Secure Data Transfer</h1>
</div>

<div class="flex-1 bg-white p-4 ml-4 mt-4">
    <div class="text-sm text-black-5">Project Name</div>
    <input type="text" class="mt-2 w-full h-full border-2 border-gray-400 p-2" name="study_name" />

    <div class="text-sm text-black-5 mt-4">Select Folder for Secure Data Transfer</div>
    <input type="text" class="mt-2 w-full h-full border-2 border-gray-400 p-2" name="input_folder" />
    
    <div class="text-sm text-black-5 mt-4">SAS URL</div>
    <input type="text" class="mt-2 w-full h-full border-2 border-gray-400 p-2" name="blob_url" />
</div>

<div class="m-4">
    <button class="mt-4 px-2 py-1 bg-white shadow text-sm hover:bg-blue-100" onclick="runExport()" id="export_button">
        Run Export
    </button>
</div>

<script>
    let settings = {};
    document.addEventListener('DOMContentLoaded', async function() {
        try {
            const response = await fetch('/load_settings/');
            settings = await response.json();
        } catch (error) {
            console.error('Error loading settings:', error);
        }
    });

    async function runExport() {
        if (!settings.site_id) {
            alert('Site ID is not set. Please set the site ID in the settings.');
            return;
        }

        const data = {
            study_name: document.querySelector('[name="study_name"]').value,
            input_folder: document.querySelector('[name="input_folder"]').value,
            container_name: settings.container_name || 'icorefiles',
            site_id: settings.site_id,
            blob_url: document.querySelector('[name="blob_url"]').value
        };
        console.log(data);

        try {
            const response = await fetch('/run_export/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            if (result.status === 'success') {
                window.location.href = `/task_progress?log_path=${encodeURIComponent(result.log_path)}`;
            } else {
                console.error('Error starting export:', result);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
{% endblock %} 