name: Generate Module License

on:
    workflow_dispatch: 
        inputs:
            license_info:
                type: string
                description: >
                  The relevant modules and expiration dates.
                  Format: [{"modules": ["module_name", ...], "expiration": "YYYY-MM-DD"}, ...]
                  Acceptable module names: IMAGE_DEID, IMAGE_QUERY, HEADER_QUERY, TEXT_DEID, TEXT_EXTRACT
                required: true

jobs:
    generate_license:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Install Python 3.12
              uses: actions/setup-python@v4
              with:
                  python-version: 3.12

            - name: Install pip packages
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Generate License
              run: |
                  python deid/manage.py generate_license ${{ github.event.inputs.license_info }}

            - name: Upload the file as an artifact
              uses: actions/upload-artifact@v4
              with:
                path: new_license.txt
                name: iCore_license.txt

